.dynamic-delete-button {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 40px;
    font-size: 24px;
    color: #999;
    transition: all .3s;
}

.dynamic-delete-button:hover {
    color: #777;
}


.ant-form-item-control-wrapper {
    width: calc(100% - 120px);
}

.dynamic-delete-button[disabled] {
    cursor: not-allowed;
    opacity: 0.5;
}

legend {
    border-bottom: 1px dashed #d9d9d9 !important;
    color: rgba(150, 15, 138, 0.822) !important;
    width: calc(100% - 120px) !important;
}

.ant-checkbox-group-item+.ant-checkbox-group-item {
    margin-left: 0;
    width: 200px;
}