.container {
    padding: 20px;
}

.item-container {
    position: relative;
}

.item-container table>tr>td:first-child {
    /* box-sizing: border-box; */
    /* padding-left: 10px; */
}

.item-container>.title {
    color: #fff;
    height: 26px;
    line-height: 26px;
    display: block;
    padding: 0px 5px;
    font-family: Arial;
    letter-spacing: 2px;
    position: relative;
    width: 74px;
    z-index: 1;
    background: rgb(20, 136, 212);
    letter-spacing: 2px;
}

.item-container>.education {
    /* background: #eee; */
    width: 100%;
}

.item-container .work {}

.item-container .description {
    margin-left: 20px;
    width: inherit;
    position: relative;
    word-break: break-all;
    word-wrap: break-word;
    /* max-width: 500px; */
}

.item-container .description:before {
    content: '';
    position: absolute;
    background: #000;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    top: 5px;
    left: -20px;
}

.item-container .work>div {
    display: inline-block;
    font-weight: 700;
    width: 33%;
    min-width: 100px;
    /* padding-left: 10px; */
    box-sizing: border-box;
}

.item-container>.education tr td:not(:last-child) {
    font-weight: 700;

}

.item-container>.education tr td:last-child {
    width: auto;
    font-weight: 700;

}

/* .basic-container {
 
} */

.basic-container>.info {
    width: calc(150px);
    display: inline-block;
    vertical-align: top;
}

.basic-container>.info>.name {
    width: 200px;
    height: 30px;
    line-height: 30px;
    display: inline-block;
}

.basic-container>.avator {
    width: calc(100% - 150px);
    padding-top: 10px;
    display: inline-block;
}

.basic-container>.avator>img {
    width: 80px;
    margin-left: calc(100% - 120px);
    height: 100px;
}

.item-container>.title:before {
    content: '';
    position: absolute;
    border: 13px solid transparent;
    border-left: 13px solid rgb(20, 136, 212);
    top: 0px;
    left: 74px;
}

.item-container:after {
    content: '';
    position: absolute;
    width: 100%;
    border: 1px solid transparent;
    border-bottom: 1px dashed rgb(20, 136, 212);
    top: 12px;
    left: 0px;
}

.item-container>.detail {
    /* display: flex; */
}

.item-container>.detail>.name {
    display: inline-block;
    width: 200px;
}